## Initialisation

In [2]:
%load_ext sql

In [3]:
%sql mysql+mysqldb://root:root@some-mysql:3306/sakila

Connecting to 'mysql+mysqldb://root:***@some-mysql:3306/sakila'

In [4]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
%config SqlMagic.displaylimit = 300

## TP2 - première partie

Il s'agit simplement de revoir les bases de SQL à l'aide d'un ensemble de requêtes sur la base de données `sakila`.

Vous pouvez ajouter des cellules de code pour explorer la base si besoin, sinon vous pouvez utiliser l'extension Database Client installée plus tôt.

In [ ]:
%sql show tables
%config SqlMagic.displaylimit = 10

### Ex 1

Récupérer l'ID, le prénom et le nom de tous les acteurs. Trier le résultat suivant le nom puis le prénom (200 tuples).

In [6]:
%%sql
SELECT actor_id, first_name, last_name FROM actor ORDER BY last_name ASC, first_name

Running query in 'mysql+mysqldb://root:***@some-mysql:3306/sakila'

200 rows affected.

+----------+-------------+--------------+
| actor_id |  first_name |  last_name   |
+----------+-------------+--------------+
|    58    |  CHRISTIAN  |    AKROYD    |
|   182    |    DEBBIE   |    AKROYD    |
|    92    |   KIRSTEN   |    AKROYD    |
|   118    |     CUBA    |    ALLEN     |
|   145    |     KIM     |    ALLEN     |
|   194    |    MERYL    |    ALLEN     |
|    76    |   ANGELINA  |   ASTAIRE    |
|   112    |   RUSSELL   |    BACALL    |
|   190    |    AUDREY   |    BAILEY    |
|    67    |   JESSICA   |    BAILEY    |
|   115    |   HARRISON  |     BALE     |
|   187    |    RENEE    |     BALL     |
|    47    |    JULIA    |  BARRYMORE   |
|   158    |    VIVIEN   |   BASINGER   |
|   174    |   MICHAEL   |    BENING    |
|   124    |   SCARLETT  |    BENING    |
|    14    |    VIVIEN   |    BERGEN    |
|   121    |     LIZA    |   BERGMAN    |
|    91    | CHRISTOPHER |    BERRY     |
|    60    |    HENRY    |    BERRY     |
|    12    |     KARL    |    BERRY     |
|   189    |     CUBA    |    BIRCH     |
|    25    |    KEVIN    |    BLOOM     |
|   185    |   MICHAEL   |    BOLGER    |
|    37    |     VAL     |    BOLGER    |
|    98    |    CHRIS    |   BRIDGES    |
|    39    |    GOLDIE   |    BRODY     |
|   159    |    LAURA    |    BRODY     |
|   167    |   LAURENCE  |   BULLOCK    |
|    40    |    JOHNNY   |     CAGE     |
|    11    |     ZERO    |     CAGE     |
|   181    |   MATTHEW   |    CARREY    |
|    86    |     GREG    |   CHAPLIN    |
|    3     |      ED     |    CHASE     |
|   176    |     JON     |    CHASE     |
|   183    |   RUSSELL   |    CLOSE     |
|    16    |     FRED    |   COSTNER    |
|   129    |    DARYL    |   CRAWFORD   |
|    26    |     RIP     |   CRAWFORD   |
|    49    |     ANNE    |    CRONYN    |
|   104    |   PENELOPE  |    CRONYN    |
|   105    |    SIDNEY   |    CROWE     |
|    57    |     JUDE    |    CRUISE    |
|    80    |    RALPH    |     CRUZ     |
|    81    |   SCARLETT  |    DAMON     |
|    4     |   JENNIFER  |    DAVIS     |
|   110    |    SUSAN    |    DAVIS     |
|   101    |    SUSAN    |    DAVIS     |
|    48    |   FRANCES   |  DAY-LEWIS   |
|    35    |     JUDY    |     DEAN     |
|   143    |    RIVER    |     DEAN     |
|   148    |    EMILY    |     DEE      |
|   138    |   LUCILLE   |     DEE      |
|   107    |     GINA    |  DEGENERES   |
|    41    |    JODIE    |  DEGENERES   |
|   166    |     NICK    |  DEGENERES   |
|    89    |   CHARLIZE  |    DENCH     |
|   123    |   JULIANNE  |    DENCH     |
|   160    |    CHRIS    |     DEPP     |
|   100    |   SPENCER   |     DEPP     |
|   109    |  SYLVESTER  |     DERN     |
|   173    |     ALAN    |   DREYFUSS   |
|    36    |     BURT    |   DUKAKIS    |
|   188    |     ROCK    |   DUKAKIS    |
|   106    |   GROUCHO   |    DUNST     |
|    19    |     BOB     |   FAWCETT    |
|   199    |    JULIA    |   FAWCETT    |
|    10    |  CHRISTIAN  |    GABLE     |
|   165    |      AL     |   GARLAND    |
|   184    |   HUMPHREY  |   GARLAND    |
|   127    |    KEVIN    |   GARLAND    |
|   154    |    MERYL    |    GIBSON    |
|    46    |    PARKER   |   GOLDBERG   |
|   139    |     EWAN    |   GOODING    |
|   191    |   GREGORY   |   GOODING    |
|    71    |     ADAM    |    GRANT     |
|   179    |      ED     |   GUINESS    |
|    1     |   PENELOPE  |   GUINESS    |
|    90    |     SEAN    |   GUINESS    |
|    32    |     TIM     |   HACKMAN    |
|   175    |   WILLIAM   |   HACKMAN    |
|   152    |     BEN     |    HARRIS    |
|   141    |     CATE    |    HARRIS    |
|    56    |     DAN     |    HARRIS    |
|    97    |     MEG     |    HAWKE     |
|   151    |   GEOFFREY  |    HESTON    |
|   169    |   KENNETH   |   HOFFMAN    |
|    79    |     MAE     |   HOFFMAN    |
|    28    |    WOODY    |   HOFFMAN    |
|   161    |    HARVEY   |     HOPE     |
|   134    |     GENE    |   HOPKINS    |
|   113    |    MORGAN   |   HOPKINS    |
|    50    |   NATALIE   |   HOPKINS    |
|   132    |     ADAM    |    HOPPER    |
|   170    |     MENA    |    HOPPER    |
|    65    |    ANGELA   |    HUDSON    |
|    52    |    CARMEN   |     HUNT     |
|   140    |    WHOOPI   |     HURT     |
|   131    |     JANE    |   JACKMAN    |
|   119    |    WARREN   |   JACKMAN    |
|   146    |    ALBERT   |  JOHANSSON   |
|    8     |   MATTHEW   |  JOHANSSON   |
|    64    |     RAY     |  JOHANSSON   |
|    82    |    WOODY    |    JOLIE     |
|    43    |     KIRK    |   JOVOVICH   |
|   130    |    GRETA    |    KEITEL    |
|   198    |     MARY    |    KEITEL    |
|    74    |    MILLA    |    KEITEL    |
|    55    |     FAY     |    KILMER    |
|   153    |    MINNIE   |    KILMER    |
|   162    |    OPRAH    |    KILMER    |
|    45    |    REESE    |    KILMER    |
|    23    |    SANDRA   |    KILMER    |
|   103    |   MATTHEW   |    LEIGH     |
|    5     |    JOHNNY   | LOLLOBRIGIDA |
|   157    |    GRETA    |    MALDEN    |
|   136    |      ED     |  MANSFIELD   |
|    22    |    ELVIS    |     MARX     |
|    77    |     CARY    | MCCONAUGHEY  |
|    70    |   MICHELLE  | MCCONAUGHEY  |
|   114    |    MORGAN   |  MCDORMAND   |
|   177    |     GENE    |   MCKELLEN   |
|    38    |     TOM     |   MCKELLEN   |
|   128    |     CATE    |   MCQUEEN    |
|    27    |    JULIA    |   MCQUEEN    |
|    42    |     TOM     |   MIRANDA    |
|   178    |     LISA    |    MONROE    |
|   120    |   PENELOPE  |    MONROE    |
|    7     |    GRACE    |    MOSTEL    |
|    99    |     JIM     |    MOSTEL    |
|    61    |  CHRISTIAN  |    NEESON    |
|    62    |    JAYNE    |    NEESON    |
|    6     |    BETTE    |  NICHOLSON   |
|   125    |    ALBERT   |    NOLTE     |
|   150    |    JAYNE    |    NOLTE     |
|   122    |    SALMA    |    NOLTE     |
|   108    |    WARREN   |    NOLTE     |
|    34    |    AUDREY   |   OLIVIER    |
|    15    |     CUBA    |   OLIVIER    |
|    69    |   KENNETH   |   PALTROW    |
|    21    |   KIRSTEN   |   PALTROW    |
|    33    |    MILLA    |     PECK     |
|    30    |    SANDRA   |     PECK     |
|    87    |   SPENCER   |     PECK     |
|    73    |     GARY    |     PENN     |
|   133    |   RICHARD   |     PENN     |
|    88    |   KENNETH   |    PESCI     |
|   171    |   OLYMPIA   |   PFEIFFER   |
|    51    |     GARY    |   PHOENIX    |
|    54    |   PENELOPE  |   PINKETT    |
|    84    |    JAMES    |     PITT     |
|    75    |     BURT    |    POSEY     |
|    93    |    ELLEN    |   PRESLEY    |
|   135    |     RITA    |   REYNOLDS   |
|   142    |     JADA    |    RYDER     |
|   195    |    JAYNE    | SILVERSTONE  |
|   180    |     JEFF    | SILVERSTONE  |
|    78    |   GROUCHO   |   SINATRA    |
|    31    |    SISSY    |   SOBIESKI   |
|    44    |     NICK    |   STALLONE   |
|    24    |   CAMERON   |    STREEP    |
|   116    |     DAN     |    STREEP    |
|   192    |     JOHN    |    SUVARI    |
|    9     |     JOE     |    SWANK     |
|   155    |     IAN     |    TANDY     |
|    66    |     MARY    |    TANDY     |
|    59    |    DUSTIN   |    TAUTOU    |
|   193    |     BURT    |    TEMPLE    |
|    53    |     MENA    |    TEMPLE    |
|   149    |   RUSSELL   |    TEMPLE    |
|   200    |    THORA    |    TEMPLE    |
|   126    |   FRANCES   |    TOMEI     |
|    18    |     DAN     |     TORN     |
|    94    |   KENNETH   |     TORN     |
|   102    |    WALTER   |     TORN     |
|    20    |   LUCILLE   |    TRACY     |
|   117    |    RENEE    |    TRACY     |
|    17    |    HELEN    |    VOIGHT    |
|    95    |    DARYL    |   WAHLBERG   |
|    2     |     NICK    |   WAHLBERG   |
|   196    |     BELA    |    WALKEN    |
|    29    |     ALEC    |    WAYNE     |
|   163    | CHRISTOPHER |     WEST     |
|   197    |    REESE    |     WEST     |
|   172    |   GROUCHO   |   WILLIAMS   |
|   137    |    MORGAN   |   WILLIAMS   |
|    72    |     SEAN    |   WILLIAMS   |
|    83    |     BEN     |    WILLIS    |
|    96    |     GENE    |    WILLIS    |
|   164    |   HUMPHREY  |    WILLIS    |
|   168    |     WILL    |    WILSON    |
|   147    |     FAY     |   WINSLET    |
|    68    |     RIP     |   WINSLET    |
|   144    |    ANGELA   | WITHERSPOON  |
|   156    |     FAY     |     WOOD     |
|    13    |     UMA     |     WOOD     |
|    63    |   CAMERON   |     WRAY     |
|   111    |   CAMERON   |  ZELLWEGER   |
|   186    |    JULIA    |  ZELLWEGER   |
|    85    |    MINNIE   |  ZELLWEGER   |
+----------+-------------+--------------+

### Ex 2

Récupérer l'ID, le prénom et le nom de tous les acteurs dont le nom est 'WILLIAMS' ou 'DAVIS' (6 tuples). Y a-t-il un doublon ?

In [7]:
%%sql
SELECT actor_id, first_name, last_name FROM actor WHERE last_name IN ('WILLIAMS', 'DAVIS');

Running query in 'mysql+mysqldb://root:***@some-mysql:3306/sakila'

6 rows affected.

+----------+------------+-----------+
| actor_id | first_name | last_name |
+----------+------------+-----------+
|    4     |  JENNIFER  |   DAVIS   |
|   101    |   SUSAN    |   DAVIS   |
|   110    |   SUSAN    |   DAVIS   |
|    72    |    SEAN    |  WILLIAMS |
|   137    |   MORGAN   |  WILLIAMS |
|   172    |  GROUCHO   |  WILLIAMS |
+----------+------------+-----------+

### Ex 3

Ecrire une requête portant sur la table `rental` qui retourne l'ID des clients qui ont loué un film le 25 mai 2005, de sorte qu'il n'y ait qu'une ligne par client.

Conseil :

*   utiliser l'attribut `rental_date` (quel est son type ?) et la fonction `date()` qui permet d'ignorer l'heure ;
*   le format d'une date est YYYY-MM-DD.

In [8]:
%%sql
SELECT DISTINCT customer_id FROM rental WHERE rental_date BETWEEN '2005-05-25 00:00:00' AND '2005-05-25 23:59:59';

Running query in 'mysql+mysqldb://root:***@some-mysql:3306/sakila'

129 rows affected.

+-------------+
| customer_id |
+-------------+
|     126     |
|     399     |
|     142     |
|     261     |
|     334     |
|     446     |
|     319     |
|     316     |
|     575     |
|      19     |
|     456     |
|     185     |
|     388     |
|     509     |
|     438     |
|     350     |
|      37     |
|     371     |
|     301     |
|     232     |
|      44     |
|     430     |
|     369     |
|     230     |
|     272     |
|     597     |
|     484     |
|      88     |
|     535     |
|     302     |
|     207     |
|     413     |
|     174     |
|     523     |
|     532     |
|     436     |
|      7      |
|      35     |
|     282     |
|     498     |
|      18     |
|     256     |
|     507     |
|     569     |
|     291     |
|     131     |
|     511     |
|      6      |
|     323     |
|     408     |
|     470     |
|     250     |
|     419     |
|     383     |
|     368     |
|     346     |
|      86     |
|     119     |
|     120     |
|     305     |
|      73     |
|     100     |
|      48     |
|     391     |
|     265     |
|     510     |
|      1      |
|     451     |
|     135     |
|     245     |
|     314     |
|     286     |
|     427     |
|     492     |
|     414     |
|     266     |
|     331     |
|      53     |
|     499     |
|      25     |
|     267     |
|     288     |
|     197     |
|     400     |
|      49     |
|     263     |
|     269     |
|     208     |
|     468     |
|     343     |
|     384     |
|     310     |
|     108     |
|     196     |
|     317     |
|     242     |
|     503     |
|     227     |
|     500     |
|      93     |
|     506     |
|     455     |
|     524     |
|      51     |
|     365     |
|     405     |
|     273     |
|      43     |
|     246     |
|     439     |
|      94     |
|      40     |
|      23     |
|      56     |
|     325     |
|     479     |
|     237     |
|     222     |
|     304     |
|     504     |
|     560     |
|     586     |
|     257     |
|     354     |
|      89     |
|     472     |
|     297     |
|     357     |
|      82     |
+-------------+

In [ ]:
%config SqlMagic.displaylimit = None

### Ex 4

Compléter les "blancs" (numérotés <1>, <2>…) dans la requête de façon à obtenir le résultat suivant :

| email                                 | return_date         |
|---------------------------------------|---------------------|
| DANIEL.CABRAL@sakilacustomer.org      | 2005-06-23 22:00:38 |
| TERRANCE.ROUSH@sakilacustomer.org     | 2005-06-23 21:53:46 |
| MIRIAM.MCKINNEY@sakilacustomer.org    | 2005-06-21 17:12:08 |
| GWENDOLYN.MAY@sakilacustomer.org      | 2005-06-20 02:40:27 |
| JEANETTE.GREENE@sakilacustomer.org    | 2005-06-19 23:26:46 |
| HERMAN.DEVORE@sakilacustomer.org      | 2005-06-19 03:20:09 |
| JEFFERY.PINSON@sakilacustomer.org     | 2005-06-18 21:37:33 |
| MATTHEW.MAHAN@sakilacustomer.org      | 2005-06-18 05:18:58 |
| MINNIE.ROMERO@sakilacustomer.org      | 2005-06-18 01:58:34 |
| SONIA.GREGORY@sakilacustomer.org      | 2005-06-17 21:44:11 |
| TERRENCE.GUNDERSON@sakilacustomer.org | 2005-06-17 05:28:35 |
| ELMER.NOE@sakilacustomer.org          | 2005-06-17 02:11:13 |
| JOYCE.EDWARDS@sakilacustomer.org      | 2005-06-16 21:00:26 |
| AMBER.DIXON@sakilacustomer.org        | 2005-06-16 04:02:56 |
| CHARLES.KOWALSKI@sakilacustomer.org   | 2005-06-16 02:26:34 |
| CATHERINE.CAMPBELL@sakilacustomer.org | 2005-06-15 20:43:03 |

Conseil :

*   voir clause `ORDER BY` ;
*   lors de la création d'un alias, le mot-clé `AS` est optionnel (`customer AS c` ou `customer c`).

In [9]:
%%sql # ex 4

SELECT c.email, r.return_date
FROM customer c
  INNER JOIN rental r
  ON c.customer_id = r.customer_id
WHERE date(r.rental_date) = '2005-06-14'
ORDER BY r.return_date DESC

Running query in 'mysql+mysqldb://root:***@some-mysql:3306/sakila'

16 rows affected.

+---------------------------------------+---------------------+
|                 email                 |     return_date     |
+---------------------------------------+---------------------+
|    DANIEL.CABRAL@sakilacustomer.org   | 2005-06-23 22:00:38 |
|   TERRANCE.ROUSH@sakilacustomer.org   | 2005-06-23 21:53:46 |
|   MIRIAM.MCKINNEY@sakilacustomer.org  | 2005-06-21 17:12:08 |
|    GWENDOLYN.MAY@sakilacustomer.org   | 2005-06-20 02:40:27 |
|   JEANETTE.GREENE@sakilacustomer.org  | 2005-06-19 23:26:46 |
|    HERMAN.DEVORE@sakilacustomer.org   | 2005-06-19 03:20:09 |
|   JEFFERY.PINSON@sakilacustomer.org   | 2005-06-18 21:37:33 |
|    MATTHEW.MAHAN@sakilacustomer.org   | 2005-06-18 05:18:58 |
|    MINNIE.ROMERO@sakilacustomer.org   | 2005-06-18 01:58:34 |
|    SONIA.GREGORY@sakilacustomer.org   | 2005-06-17 21:44:11 |
| TERRENCE.GUNDERSON@sakilacustomer.org | 2005-06-17 05:28:35 |
|      ELMER.NOE@sakilacustomer.org     | 2005-06-17 02:11:13 |
|    JOYCE.EDWARDS@sakilacustomer.org   | 2005-06-16 21:00:26 |
|     AMBER.DIXON@sakilacustomer.org    | 2005-06-16 04:02:56 |
|  CHARLES.KOWALSKI@sakilacustomer.org  | 2005-06-16 02:26:34 |
| CATHERINE.CAMPBELL@sakilacustomer.org | 2005-06-15 20:43:03 |
+---------------------------------------+---------------------+

### Ex 5

Compléter les "blancs" (numérotés <1>, <2>…) dans la requête de façon à obtenir le résultat suivant :

| first_name | last_name | address                | city           |
|------------|-----------|------------------------|----------------|
| PATRICIA   | JOHNSON   | 1121 Loja Avenue       | San Bernardino |
| BETTY      | WHITE     | 770 Bydgoszcz Avenue   | Citrus Heights |
| ALICE      | STEWART   | 1135 Izumisano Parkway | Fontana        |
| ROSA       | REYNOLDS  | 793 Cam Ranh Avenue    | Lancaster      |
| RENEE      | LANE      | 533 al-Ayn Boulevard   | Compton        |
| KRISTIN    | JOHNSTON  | 226 Brest Manor        | Sunnyvale      |
| CASSANDRA  | WALTERS   | 920 Kumbakonam Loop    | Salinas        |
| JACOB      | LANCE     | 1866 al-Qatif Avenue   | El Monte       |
| RENE       | MCALISTER | 1895 Zhezqazghan Drive | Garden Grove   |

In [10]:
%%sql # ex5

SELECT c.first_name, c.last_name, a.address, ct.city
FROM customer c
  INNER JOIN address a
  ON c.address_id = a.address_id
  INNER JOIN city ct
  ON a.city_id = ct.city_id
WHERE a.district = 'California';

Running query in 'mysql+mysqldb://root:***@some-mysql:3306/sakila'

9 rows affected.

+------------+-----------+------------------------+----------------+
| first_name | last_name |        address         |      city      |
+------------+-----------+------------------------+----------------+
|  PATRICIA  |  JOHNSON  |    1121 Loja Avenue    | San Bernardino |
|   BETTY    |   WHITE   |  770 Bydgoszcz Avenue  | Citrus Heights |
|   ALICE    |  STEWART  | 1135 Izumisano Parkway |    Fontana     |
|    ROSA    |  REYNOLDS |  793 Cam Ranh Avenue   |   Lancaster    |
|   RENEE    |    LANE   |  533 al-Ayn Boulevard  |    Compton     |
|  KRISTIN   |  JOHNSTON |    226 Brest Manor     |   Sunnyvale    |
| CASSANDRA  |  WALTERS  |  920 Kumbakonam Loop   |    Salinas     |
|   JACOB    |   LANCE   |  1866 al-Qatif Avenue  |    El Monte    |
|    RENE    | MCALISTER | 1895 Zhezqazghan Drive |  Garden Grove  |
+------------+-----------+------------------------+----------------+

Ecrire la même requête sans le join

In [12]:
%%sql # ex5

SELECT c.first_name, c.last_name, a.address, ct.city
FROM customer c, address a, city ct
WHERE c.address_id = a.address_id
    AND a.city_id = ct.city_id
    AND a.district = 'California';

Running query in 'mysql+mysqldb://root:***@some-mysql:3306/sakila'

/opt/conda/lib/python3.12/site-packages/sql/connection/connection.py:866: JupySQLRollbackPerformed: Found invalid transaction. JupySQL executed a ROLLBACK operation.
  warnings.warn(

9 rows affected.

+------------+-----------+------------------------+----------------+
| first_name | last_name |        address         |      city      |
+------------+-----------+------------------------+----------------+
|  PATRICIA  |  JOHNSON  |    1121 Loja Avenue    | San Bernardino |
|   BETTY    |   WHITE   |  770 Bydgoszcz Avenue  | Citrus Heights |
|   ALICE    |  STEWART  | 1135 Izumisano Parkway |    Fontana     |
|    ROSA    |  REYNOLDS |  793 Cam Ranh Avenue   |   Lancaster    |
|   RENEE    |    LANE   |  533 al-Ayn Boulevard  |    Compton     |
|  KRISTIN   |  JOHNSTON |    226 Brest Manor     |   Sunnyvale    |
| CASSANDRA  |  WALTERS  |  920 Kumbakonam Loop   |    Salinas     |
|   JACOB    |   LANCE   |  1866 al-Qatif Avenue  |    El Monte    |
|    RENE    | MCALISTER | 1895 Zhezqazghan Drive |  Garden Grove  |
+------------+-----------+------------------------+----------------+

### Ex 6

Ecrire une requête qui retourne le titre de tous les films dans lequel joue un acteur prénommé 'JOHN' (29 tuples).

In [13]:
%%sql
SELECT f.title
    FROM film f
    INNER JOIN film_actor fa
    ON f.film_id = fa.film_id
    INNER JOIN actor a
    ON fa.actor_id = a.actor_id
    WHERE a.first_name = 'JOHN'

Running query in 'mysql+mysqldb://root:***@some-mysql:3306/sakila'

29 rows affected.

+---------------------------+
|           title           |
+---------------------------+
|      ALLEY EVOLUTION      |
|       BEVERLY OUTLAW      |
|       CANDLES GRAPES      |
|      CLEOPATRA DEVIL      |
|     COLOR PHILADELPHIA    |
|       CONQUERER NUTS      |
|      DAUGHTER MADIGAN     |
|    GLEAMING JAWBREAKER    |
|      GOLDMINE TYCOON      |
|         HOME PITY         |
|     INTERVIEW LIAISONS    |
|      ISHTAR ROCKETEER     |
|        JAPANESE RUN       |
|        JERSEY SASSY       |
|         LUKE MUMMY        |
|        MILLION ACE        |
|     MONSTER SPARTACUS     |
|       NAME DETECTIVE      |
|     NECKLACE OUTBREAK     |
|       NEWSIES STORY       |
|        PET HAUNTING       |
|      PIANIST OUTFIELD     |
|      PINOCCHIO SIMON      |
|    PITTSBURGH HUNCHBACK   |
|        QUILLS BULL        |
|      RAGING AIRPLANE      |
|       ROXANNE REBEL       |
| SATISFACTION CONFIDENTIAL |
|        SONG HEDWIG        |
+---------------------------+

La même requête sans les JOIN ?

In [14]:
%%sql
SELECT f.title
    FROM film f, film_actor fa, actor a
    WHERE f.film_id = fa.film_id
        AND fa.actor_id = a.actor_id
        AND a.first_name = 'JOHN'

Running query in 'mysql+mysqldb://root:***@some-mysql:3306/sakila'

29 rows affected.

+---------------------------+
|           title           |
+---------------------------+
|      ALLEY EVOLUTION      |
|       BEVERLY OUTLAW      |
|       CANDLES GRAPES      |
|      CLEOPATRA DEVIL      |
|     COLOR PHILADELPHIA    |
|       CONQUERER NUTS      |
|      DAUGHTER MADIGAN     |
|    GLEAMING JAWBREAKER    |
|      GOLDMINE TYCOON      |
|         HOME PITY         |
|     INTERVIEW LIAISONS    |
|      ISHTAR ROCKETEER     |
|        JAPANESE RUN       |
|        JERSEY SASSY       |
|         LUKE MUMMY        |
|        MILLION ACE        |
|     MONSTER SPARTACUS     |
|       NAME DETECTIVE      |
|     NECKLACE OUTBREAK     |
|       NEWSIES STORY       |
|        PET HAUNTING       |
|      PIANIST OUTFIELD     |
|      PINOCCHIO SIMON      |
|    PITTSBURGH HUNCHBACK   |
|        QUILLS BULL        |
|      RAGING AIRPLANE      |
|       ROXANNE REBEL       |
| SATISFACTION CONFIDENTIAL |
|        SONG HEDWIG        |
+---------------------------+

### Ex 7

Ecrire une requête qui retourne les couples d'adresses distinctes (précisément les rues et numéros de rue) qui sont dans la même ville (4 tuples).

Conseil : utiliser une jointure de la table des adresses avec elle même pour retourner des doublets d'adresses dans la même ville.

In [20]:
%%sql
SELECT DISTINCT a.address, b.address
FROM address a
INNER JOIN address b
ON a.city_id = b.city_id
WHERE a.address != b.address AND a.address_id < b.address_id

Running query in 'mysql+mysqldb://root:***@some-mysql:3306/sakila'

4 rows affected.

+--------------------+----------------------+
|      address       |      address_1       |
+--------------------+----------------------+
| 47 MySakila Drive  |  23 Workhaven Lane   |
| 28 MySQL Boulevard | 1411 Lillydale Drive |
| 1497 Yuzhou Drive  |  548 Uruapan Street  |
| 587 Benguela Manor |   43 Vilnius Manor   |
+--------------------+----------------------+

### Ex 8

Ecrire une requête qui compte le nombre de tuples dans la table `payment` (16 044).

Conseil : utiliser la fonction `count`

In [21]:
%%sql
SELECT COUNT(*) FROM payment

Running query in 'mysql+mysqldb://root:***@some-mysql:3306/sakila'

1 rows affected.

+----------+
| COUNT(*) |
+----------+
|  16044   |
+----------+

Modifier la requête précédente afin de compter le nombre de paiements effectués par chaque client et y associer l'ID du client et le total de ses paiements.

| customer_id | nb_payment | total_payment |
|-------------|------------|---------------|
| 1           | 32         | 118.68        |
| 2           | 27         | 128.73        |
| 3           | 26         | 135.74        |
| 4           | 22         | 81.78         |
| 5           | 38         | 144.62        |
| ...         | ...        | ...           |
| 595         | 30         | 117.70        |
| 596         | 28         | 96.72         |
| 597         | 25         | 99.75         |
| 598         | 22         | 83.78         |
| 599         | 19         | 83.81         |

Conseil : utiliser la fonction `sum` et la clause `GROUP BY`.

In [22]:
%%sql
SELECT customer_id, COUNT(amount), SUM(amount) FROM payment GROUP BY customer_id

Running query in 'mysql+mysqldb://root:***@some-mysql:3306/sakila'

599 rows affected.

+-------------+---------------+-------------+
| customer_id | COUNT(amount) | SUM(amount) |
+-------------+---------------+-------------+
|      1      |       32      |    118.68   |
|      2      |       27      |    128.73   |
|      3      |       26      |    135.74   |
|      4      |       22      |    81.78    |
|      5      |       38      |    144.62   |
|      6      |       28      |    93.72    |
|      7      |       33      |    151.67   |
|      8      |       24      |    92.76    |
|      9      |       23      |    89.77    |
|      10     |       25      |    99.75    |
|      11     |       24      |    106.76   |
|      12     |       28      |    103.72   |
|      13     |       27      |    131.73   |
|      14     |       28      |    117.72   |
|      15     |       32      |    134.68   |
|      16     |       28      |    118.72   |
|      17     |       21      |    98.79    |
|      18     |       22      |    91.78    |
|      19     |       24      |    125.76   |
|      20     |       30      |    115.70   |
|      21     |       35      |    155.65   |
|      22     |       22      |    113.78   |
|      23     |       30      |    119.70   |
|      24     |       25      |    95.75    |
|      25     |       29      |    115.71   |
|      26     |       34      |    152.66   |
|      27     |       31      |    126.69   |
|      28     |       32      |    111.68   |
|      29     |       36      |    140.64   |
|      30     |       34      |    123.66   |
|      31     |       26      |    104.74   |
|      32     |       29      |    127.71   |
|      33     |       21      |    91.79    |
|      34     |       24      |    89.76    |
|      35     |       32      |    129.68   |
|      36     |       27      |    92.73    |
|      37     |       23      |    95.77    |
|      38     |       34      |    127.66   |
|      39     |       29      |    141.71   |
|      40     |       27      |    110.73   |
|      41     |       25      |    118.75   |
|      42     |       30      |    117.70   |
|      43     |       24      |    99.76    |
|      44     |       26      |    114.74   |
|      45     |       27      |    127.73   |
|      46     |       34      |    142.66   |
|      47     |       22      |    108.78   |
|      48     |       17      |    76.83    |
|      49     |       28      |    130.72   |
|      50     |       35      |    169.65   |
|      51     |       33      |    138.67   |
|      52     |       29      |    107.71   |
|      53     |       30      |    115.70   |
|      54     |       29      |    128.71   |
|      55     |       22      |    100.78   |
|      56     |       30      |    135.70   |
|      57     |       28      |    114.72   |
|      58     |       27      |    115.73   |
|      59     |       27      |    133.73   |
|      60     |       25      |    98.75    |
|      61     |       14      |    58.86    |
|      62     |       23      |    84.77    |
|      63     |       25      |    112.75   |
|      64     |       33      |    100.67   |
|      65     |       22      |    103.78   |
|      66     |       34      |    144.66   |
|      67     |       22      |    99.78    |
|      68     |       22      |    94.78    |
|      69     |       25      |    96.75    |
|      70     |       18      |    80.82    |
|      71     |       30      |    129.70   |
|      72     |       30      |    99.70    |
|      73     |       24      |    97.76    |
|      74     |       27      |    103.73   |
|      75     |       41      |    155.59   |
|      76     |       23      |    77.77    |
|      77     |       28      |    100.72   |
|      78     |       31      |    141.69   |
|      79     |       22      |    84.78    |
|      80     |       30      |    137.70   |
|      81     |       22      |    93.78    |
|      82     |       26      |    130.74   |
|      83     |       25      |    101.75   |
|      84     |       33      |    141.67   |
|      85     |       23      |    87.77    |
|      86     |       33      |    148.67   |
|      87     |       30      |    145.70   |
|      88     |       21      |    87.79    |
|      89     |       32      |    134.68   |
|      90     |       28      |    110.72   |
|      91     |       35      |    113.65   |
|      92     |       28      |    133.72   |
|      93     |       23      |    91.77    |
|      94     |       21      |    79.79    |
|      95     |       18      |    77.82    |
|      96     |       27      |    105.73   |
|      97     |       18      |    58.82    |
|      98     |       25      |    106.75   |
|      99     |       24      |    91.76    |
|     100     |       24      |    102.76   |
|     101     |       24      |    96.76    |
|     102     |       33      |    137.67   |
|     103     |       31      |    146.69   |
|     104     |       24      |    92.76    |
|     105     |       26      |    120.74   |
|     106     |       23      |    100.77   |
|     107     |       30      |    126.70   |
|     108     |       30      |    132.70   |
|     109     |       26      |    107.74   |
|     110     |       14      |    59.86    |
|     111     |       26      |    97.74    |
|     112     |       30      |    133.70   |
|     113     |       29      |    113.71   |
|     114     |       33      |    139.67   |
|     115     |       30      |    91.70    |
|     116     |       27      |    111.73   |
|     117     |       19      |    71.81    |
|     118     |       21      |    82.79    |
|     119     |       34      |    153.66   |
|     120     |       32      |    143.68   |
|     121     |       26      |    109.74   |
|     122     |       32      |    126.68   |
|     123     |       24      |    100.76   |
|     124     |       18      |    73.82    |
|     125     |       32      |    135.68   |
|     126     |       28      |    117.72   |
|     127     |       24      |    107.76   |
|     128     |       32      |    127.68   |
|     129     |       34      |    124.66   |
|     130     |       24      |    93.76    |
|     131     |       30      |    128.70   |
|     132     |       28      |    95.72    |
|     133     |       27      |    98.73    |
|     134     |       23      |    94.77    |
|     135     |       30      |    110.70   |
|     136     |       15      |    62.85    |
|     137     |       39      |    194.61   |
|     138     |       34      |    110.66   |
|     139     |       27      |    113.73   |
|     140     |       18      |    83.82    |
|     141     |       32      |    130.68   |
|     142     |       26      |    94.74    |
|     143     |       22      |    89.78    |
|     144     |       42      |    195.58   |
|     145     |       28      |    108.72   |
|     146     |       29      |    139.71   |
|     147     |       34      |    127.66   |
|     148     |       46      |    216.54   |
|     149     |       26      |    121.74   |
|     150     |       25      |    105.75   |
|     151     |       27      |    92.73    |
|     152     |       21      |    83.79    |
|     153     |       24      |    94.76    |
|     154     |       30      |    130.70   |
|     155     |       25      |    109.75   |
|     156     |       25      |    101.75   |
|     157     |       31      |    113.69   |
|     158     |       32      |    126.68   |
|     159     |       21      |    68.79    |
|     160     |       27      |    106.73   |
|     161     |       30      |    112.70   |
|     162     |       20      |    71.80    |
|     163     |       29      |    122.71   |
|     164     |       16      |    66.84    |
|     165     |       21      |    86.79    |
|     166     |       28      |    123.72   |
|     167     |       32      |    119.68   |
|     168     |       34      |    135.66   |
|     169     |       22      |    95.78    |
|     170     |       26      |    119.74   |
|     171     |       26      |    114.74   |
|     172     |       33      |    145.67   |
|     173     |       29      |    119.71   |
|     174     |       21      |    92.79    |
|     175     |       24      |    98.76    |
|     176     |       37      |    173.63   |
|     177     |       23      |    71.77    |
|     178     |       39      |    194.61   |
|     179     |       29      |    133.71   |
|     180     |       23      |    98.77    |
|     181     |       34      |    174.66   |
|     182     |       26      |    97.74    |
|     183     |       23      |    76.77    |
|     184     |       23      |    90.77    |
|     185     |       23      |    84.77    |
|     186     |       31      |    114.69   |
|     187     |       28      |    159.72   |
|     188     |       25      |    92.75    |
|     189     |       22      |    93.78    |
|     190     |       27      |    110.73   |
|     191     |       20      |    74.80    |
|     192     |       23      |    99.77    |
|     193     |       25      |    109.75   |
|     194     |       18      |    87.82    |
|     195     |       19      |    86.81    |
|     196     |       35      |    151.65   |
|     197     |       40      |    154.60   |
|     198     |       37      |    141.63   |
|     199     |       25      |    103.75   |
|     200     |       27      |    136.73   |
|     201     |       25      |    108.75   |
|     202     |       26      |    103.74   |
|     203     |       20      |    88.80    |
|     204     |       35      |    147.65   |
|     205     |       18      |    80.82    |
|     206     |       27      |    126.73   |
|     207     |       34      |    137.66   |
|     208     |       26      |    91.74    |
|     209     |       32      |    161.68   |
|     210     |       31      |    137.69   |
|     211     |       34      |    151.66   |
|     212     |       20      |    91.80    |
|     213     |       28      |    111.72   |
|     214     |       31      |    116.69   |
|     215     |       26      |    91.74    |
|     216     |       23      |    95.77    |
|     217     |       23      |    98.77    |
|     218     |       18      |    67.82    |
|     219     |       26      |    101.74   |
|     220     |       27      |    114.73   |
|     221     |       28      |    132.72   |
|     222     |       21      |    91.79    |
|     223     |       17      |    80.83    |
|     224     |       22      |    76.78    |
|     225     |       26      |    120.74   |
|     226     |       21      |    87.79    |
|     227     |       24      |    87.76    |
|     228     |       27      |    92.73    |
|     229     |       25      |    93.75    |
|     230     |       33      |    124.67   |
|     231     |       26      |    110.74   |
|     232     |       25      |    95.75    |
|     233     |       23      |    89.77    |
|     234     |       26      |    111.74   |
|     235     |       25      |    93.75    |
|     236     |       42      |    175.58   |
|     237     |       33      |    144.67   |
|     238     |       21      |    94.79    |
|     239     |       34      |    142.66   |
|     240     |       26      |    117.74   |
|     241     |       34      |    122.66   |
|     242     |       32      |    140.68   |
|     243     |       24      |    82.76    |
|     244     |       32      |    129.68   |
|     245     |       32      |    132.68   |
|     246     |       23      |    107.77   |
|     247     |       22      |    104.78   |
|     248     |       15      |    50.85    |
|     249     |       23      |    107.77   |
|     250     |       20      |    73.80    |
|     251     |       31      |    120.69   |
|     252     |       22      |    64.78    |
|     253     |       29      |    127.71   |
|     254     |       32      |    116.68   |
|     255     |       18      |    70.82    |
|     256     |       30      |    112.70   |
|     257     |       37      |    151.63   |
|     258     |       24      |    110.76   |
|     259     |       32      |    168.68   |
|     260     |       31      |    122.69   |
|     261     |       26      |    107.74   |
|     262     |       28      |    119.72   |
|     263     |       29      |    122.71   |
|     264     |       25      |    98.75    |
|     265     |       29      |    133.71   |
|     266     |       28      |    118.72   |
|     267     |       36      |    159.64   |
|     268     |       29      |    123.71   |
|     269     |       30      |    129.70   |
|     270     |       25      |    104.75   |
|     271     |       18      |    68.82    |
|     272     |       20      |    98.80    |
|     273     |       35      |    157.65   |
|     274     |       35      |    152.65   |
|     275     |       30      |    108.70   |
|     276     |       28      |    122.72   |
|     277     |       32      |    144.68   |
|     278     |       26      |    88.74    |
|     279     |       31      |    135.69   |
|     280     |       27      |    118.73   |
|     281     |       14      |    50.86    |
|     282     |       27      |    103.73   |
|     283     |       28      |    86.72    |
|     284     |       28      |    126.72   |
|     285     |       26      |    135.74   |
|     286     |       27      |    117.73   |
|     287     |       29      |    115.71   |
|     288     |       24      |    80.76    |
|     289     |       30      |    142.70   |
|     290     |       28      |    109.72   |
|     291     |       23      |    95.77    |
|     292     |       27      |    118.73   |
|     293     |       31      |    158.69   |
|     294     |       26      |    113.74   |
|     295     |       38      |    162.62   |
|     296     |       30      |    129.70   |
|     297     |       33      |    128.67   |
|     298     |       26      |    101.74   |
|     299     |       30      |    131.70   |
|     300     |       31      |    137.69   |
+-------------+---------------+-------------+
Truncated to displaylimit of 300.

Modifier la requête précédente afin de n'inclure que les clients qui ont fait au moins 40 paiements.

| customer_id | nb_payment | total_payment |
|-------------|------------|---------------|
| 75          | 41         | 155.59        |
| 144         | 42         | 195.58        |
| 148         | 46         | 216.54        |
| 197         | 40         | 154.60        |
| 236         | 42         | 175.58        |
| 469         | 40         | 177.60        |
| 526         | 45         | 221.55        |

Conseil : voir clause `HAVING`.

In [23]:
%%sql
SELECT customer_id, COUNT(amount), SUM(amount) FROM payment GROUP BY customer_id HAVING COUNT(amount) > 40

Running query in 'mysql+mysqldb://root:***@some-mysql:3306/sakila'

5 rows affected.

+-------------+---------------+-------------+
| customer_id | COUNT(amount) | SUM(amount) |
+-------------+---------------+-------------+
|      75     |       41      |    155.59   |
|     144     |       42      |    195.58   |
|     148     |       46      |    216.54   |
|     236     |       42      |    175.58   |
|     526     |       45      |    221.55   |
+-------------+---------------+-------------+

### Ex 9

Ecrire une requête qui retourne les titres des films d'action `category.name = 'Action'` (64 tuples de 'AMADEUS HOLY' à 'WORST BANGER').

Faites cette requête de 3 façons :

* avec des jointures 
* en filtrant la relation `film` à l'aide d'une sous-requête qui retourne l'ID de tous les films d'action
* sans jointure et sans filtre

In [24]:
%%sql
SELECT f.title
    FROM film f 
    JOIN film_category fc
    ON f.film_id = fc.film_id
    JOIN category c
    ON fc.category_id = c.category_id
    WHERE c.name = 'Action'

Running query in 'mysql+mysqldb://root:***@some-mysql:3306/sakila'

64 rows affected.

+-------------------------+
|          title          |
+-------------------------+
|       AMADEUS HOLY      |
|     AMERICAN CIRCUS     |
|    ANTITRUST TOMATOES   |
|      ARK RIDGEMONT      |
|   BAREFOOT MANCHURIAN   |
|       BERETS AGENT      |
|      BRIDE INTRIGUE     |
|      BULL SHAWSHANK     |
|     CADDYSHACK JEDI     |
|     CAMPUS REMEMBER     |
|    CASUALTIES ENCINO    |
|      CELEBRITY HORN     |
|     CLUELESS BUCKET     |
|       CROW GREASE       |
|       DANCES NONE       |
|       DARKO DORADO      |
|      DARN FORRESTER     |
|       DEVIL DESIRE      |
|       DRAGON SQUAD      |
|       DREAM PICKUP      |
|   DRIFTER COMMANDMENTS  |
|      EASY GLADIATOR     |
| ENTRAPMENT SATISFACTION |
|      EXCITEMENT EVE     |
|     FANTASY TROOPERS    |
|    FIREHOUSE VIETNAM    |
|     FOOL MOCKINGBIRD    |
|       FORREST SONS      |
|       GLASS DYING       |
|      GOSFORD DONNIE     |
|    GRAIL FRANKENSTEIN   |
|    HANDICAP BOONDOCK    |
|     HILLS NEIGHBORS     |
|      KISSING DOLLS      |
|      LAWRENCE LOVE      |
|       LORD ARIZONA      |
|        LUST LOCK        |
|    MAGNOLIA FORRESTER   |
|    MIDNIGHT WESTWARD    |
|       MINDS TRUMAN      |
|  MOCKINGBIRD HOLLYWOOD  |
|    MONTEZUMA COMMAND    |
|       PARK CITIZEN      |
|      PATRIOT ROMAN      |
|      PRIMARY GLASS      |
|     QUEST MUSSOLINI     |
|       REAR TRADING      |
|   RINGS HEARTBREAKERS   |
|   RUGRATS SHAKESPEARE   |
|      SHRUNK DIVINE      |
|         SIDE ARK        |
|       SKY MIRACLE       |
|        SOUTH WAIT       |
|      SPEAKEASY DATE     |
|  STAGECOACH ARMAGEDDON  |
|        STORY SIDE       |
|     SUSPECTS QUILLS     |
|       TRIP NEWTON       |
|       TRUMAN CRAZY      |
|     UPRISING UPTOWN     |
|  WATERFRONT DELIVERANCE |
|      WEREWOLF LOLA      |
|       WOMEN DORADO      |
|       WORST BANGER      |
+-------------------------+

In [25]:
%%sql
SELECT title
    FROM film WHERE film_id IN
    (SELECT fc.film_id FROM film_category fc
    JOIN category c
    ON fc.category_id = c.category_id
    WHERE c.name = 'Action')

Running query in 'mysql+mysqldb://root:***@some-mysql:3306/sakila'

64 rows affected.

+-------------------------+
|          title          |
+-------------------------+
|       AMADEUS HOLY      |
|     AMERICAN CIRCUS     |
|    ANTITRUST TOMATOES   |
|      ARK RIDGEMONT      |
|   BAREFOOT MANCHURIAN   |
|       BERETS AGENT      |
|      BRIDE INTRIGUE     |
|      BULL SHAWSHANK     |
|     CADDYSHACK JEDI     |
|     CAMPUS REMEMBER     |
|    CASUALTIES ENCINO    |
|      CELEBRITY HORN     |
|     CLUELESS BUCKET     |
|       CROW GREASE       |
|       DANCES NONE       |
|       DARKO DORADO      |
|      DARN FORRESTER     |
|       DEVIL DESIRE      |
|       DRAGON SQUAD      |
|       DREAM PICKUP      |
|   DRIFTER COMMANDMENTS  |
|      EASY GLADIATOR     |
| ENTRAPMENT SATISFACTION |
|      EXCITEMENT EVE     |
|     FANTASY TROOPERS    |
|    FIREHOUSE VIETNAM    |
|     FOOL MOCKINGBIRD    |
|       FORREST SONS      |
|       GLASS DYING       |
|      GOSFORD DONNIE     |
|    GRAIL FRANKENSTEIN   |
|    HANDICAP BOONDOCK    |
|     HILLS NEIGHBORS     |
|      KISSING DOLLS      |
|      LAWRENCE LOVE      |
|       LORD ARIZONA      |
|        LUST LOCK        |
|    MAGNOLIA FORRESTER   |
|    MIDNIGHT WESTWARD    |
|       MINDS TRUMAN      |
|  MOCKINGBIRD HOLLYWOOD  |
|    MONTEZUMA COMMAND    |
|       PARK CITIZEN      |
|      PATRIOT ROMAN      |
|      PRIMARY GLASS      |
|     QUEST MUSSOLINI     |
|       REAR TRADING      |
|   RINGS HEARTBREAKERS   |
|   RUGRATS SHAKESPEARE   |
|      SHRUNK DIVINE      |
|         SIDE ARK        |
|       SKY MIRACLE       |
|        SOUTH WAIT       |
|      SPEAKEASY DATE     |
|  STAGECOACH ARMAGEDDON  |
|        STORY SIDE       |
|     SUSPECTS QUILLS     |
|       TRIP NEWTON       |
|       TRUMAN CRAZY      |
|     UPRISING UPTOWN     |
|  WATERFRONT DELIVERANCE |
|      WEREWOLF LOLA      |
|       WOMEN DORADO      |
|       WORST BANGER      |
+-------------------------+

In [26]:
%%sql
SELECT f.title
    FROM film f, film_category fc, category c
    WHERE f.film_id = fc.film_id
    AND fc.category_id = c.category_id
    AND c.name = 'Action'

Running query in 'mysql+mysqldb://root:***@some-mysql:3306/sakila'

64 rows affected.

+-------------------------+
|          title          |
+-------------------------+
|       AMADEUS HOLY      |
|     AMERICAN CIRCUS     |
|    ANTITRUST TOMATOES   |
|      ARK RIDGEMONT      |
|   BAREFOOT MANCHURIAN   |
|       BERETS AGENT      |
|      BRIDE INTRIGUE     |
|      BULL SHAWSHANK     |
|     CADDYSHACK JEDI     |
|     CAMPUS REMEMBER     |
|    CASUALTIES ENCINO    |
|      CELEBRITY HORN     |
|     CLUELESS BUCKET     |
|       CROW GREASE       |
|       DANCES NONE       |
|       DARKO DORADO      |
|      DARN FORRESTER     |
|       DEVIL DESIRE      |
|       DRAGON SQUAD      |
|       DREAM PICKUP      |
|   DRIFTER COMMANDMENTS  |
|      EASY GLADIATOR     |
| ENTRAPMENT SATISFACTION |
|      EXCITEMENT EVE     |
|     FANTASY TROOPERS    |
|    FIREHOUSE VIETNAM    |
|     FOOL MOCKINGBIRD    |
|       FORREST SONS      |
|       GLASS DYING       |
|      GOSFORD DONNIE     |
|    GRAIL FRANKENSTEIN   |
|    HANDICAP BOONDOCK    |
|     HILLS NEIGHBORS     |
|      KISSING DOLLS      |
|      LAWRENCE LOVE      |
|       LORD ARIZONA      |
|        LUST LOCK        |
|    MAGNOLIA FORRESTER   |
|    MIDNIGHT WESTWARD    |
|       MINDS TRUMAN      |
|  MOCKINGBIRD HOLLYWOOD  |
|    MONTEZUMA COMMAND    |
|       PARK CITIZEN      |
|      PATRIOT ROMAN      |
|      PRIMARY GLASS      |
|     QUEST MUSSOLINI     |
|       REAR TRADING      |
|   RINGS HEARTBREAKERS   |
|   RUGRATS SHAKESPEARE   |
|      SHRUNK DIVINE      |
|         SIDE ARK        |
|       SKY MIRACLE       |
|        SOUTH WAIT       |
|      SPEAKEASY DATE     |
|  STAGECOACH ARMAGEDDON  |
|        STORY SIDE       |
|     SUSPECTS QUILLS     |
|       TRIP NEWTON       |
|       TRUMAN CRAZY      |
|     UPRISING UPTOWN     |
|  WATERFRONT DELIVERANCE |
|      WEREWOLF LOLA      |
|       WOMEN DORADO      |
|       WORST BANGER      |
+-------------------------+

## TP2 - partie optionnelle

### 1. Définition d'une fenêtre d'analyse

#### 1.1 Définition via une fonction d'agrégation

Soit la requête suivante sur la base de données sakila, qui donne les ventes mensuelles de mai à août 2005 (la fonction `quarter` retourne le trimestre associé à une date et la fonction `monthname` le mois).

In [28]:
%%sql 
SELECT quarter(payment_date) quarter,
  monthname(payment_date) month_nm,
  sum(amount) monthly_sales
FROM payment
WHERE year(payment_date) = 2005
GROUP BY quarter(payment_date), monthname(payment_date);

Running query in 'mysql+mysqldb://root:***@some-mysql:3306/sakila'

4 rows affected.

+---------+----------+---------------+
| quarter | month_nm | monthly_sales |
+---------+----------+---------------+
|    2    |   May    |    4823.44    |
|    2    |   June   |    9629.89    |
|    3    |   July   |    28368.91   |
|    3    |  August  |    24070.14   |
+---------+----------+---------------+

Pour comparer ces chiffres avec les meilleures ventes mensuelles et les meilleures ventes du trimestre on a besoin de créer des **fenêtres** qui vont regrouper des lignes sur des critères temporels (mais le principe peut s'appliquer à d'autres types de valeur) et y associer de nouvelles colonnes, ce qu'on va pouvoir faire en associant des **clauses** aux fonctions d'agrégation.

Une fenêtre est créée à l'aide d'une clause `over` combinée avec des clauses optionnelles en paramètre. L'absence de clauses optionnelles indique que toutes les données sont prises en compte.

In [34]:
%%sql 
SELECT quarter(payment_date) quarter,
  monthname(payment_date) month_nm,
  sum(amount) monthly_sales,
  max(sum(amount))
    over () max_overall_sales,
  max(sum(amount))
    over (partition by quarter(payment_date)) max_qrtr_sales
FROM payment
WHERE year(payment_date) = 2005
GROUP BY quarter(payment_date), monthname(payment_date);

Running query in 'mysql+mysqldb://root:***@some-mysql:3306/sakila'

4 rows affected.

+---------+----------+---------------+-------------------+----------------+
| quarter | month_nm | monthly_sales | max_overall_sales | max_qrtr_sales |
+---------+----------+---------------+-------------------+----------------+
|    2    |   May    |    4823.44    |      28368.91     |    9629.89     |
|    2    |   June   |    9629.89    |      28368.91     |    9629.89     |
|    3    |   July   |    28368.91   |      28368.91     |    28368.91    |
|    3    |  August  |    24070.14   |      28368.91     |    28368.91    |
+---------+----------+---------------+-------------------+----------------+

Quelles peuvent être ces clauses optionnelles :

- `partition by` définit une fenêtre par valeur de l'expression passée en paramètre ;
- `order by` ordonne les tuples de la fenêtre suivant l'expression passée en paramètre (avec la possibilité d'un ordre ascendant ou descendant avec les mots-clefs `ASC` et `DESC`) ;
- `rows` définit la fenêtre en fonction du tuple courant, par exemple, `rows between 1 preceding and 1 following` sélectionne une fenêtre de 3 tuples centrée sur le tuple courant ; `rows  unbounded preceding` sélectionne tous les tuples précédents, tuple courant inclus ;
- `range` définit la fenêtre suivant un domaine de valeurs, par exemple, `range between interval 3 day preceding and interval 3 day  following` définit une fenêtre de 7 jours autour d'une date qui apparaîtrait dans une clause `order by`.

#### 1.2 Définition via des fonctions autres

##### 1.2.1 Classement

La fonction `rank` associe un classement au tuple courant en fonction de la fenêtre qui lui est associée.

In [35]:
%%sql 
SELECT quarter(payment_date) quarter,
  monthname(payment_date) month_nm,
  sum(amount) monthly_sales,
  rank() over (order by sum(amount) desc) sales_rank
FROM payment
WHERE year(payment_date) = 2005
GROUP BY quarter(payment_date), monthname(payment_date)
ORDER BY quarter, month_nm;

Running query in 'mysql+mysqldb://root:***@some-mysql:3306/sakila'

4 rows affected.

+---------+----------+---------------+------------+
| quarter | month_nm | monthly_sales | sales_rank |
+---------+----------+---------------+------------+
|    2    |   June   |    9629.89    |     3      |
|    2    |   May    |    4823.44    |     4      |
|    3    |  August  |    24070.14   |     2      |
|    3    |   July   |    28368.91   |     1      |
+---------+----------+---------------+------------+

La quatrième colonne `sales_rank` donne ainsi le classement des ventes mensuelles. Il est par exemple possible de raffiner le classement par rapport à une fenêtre de temps, par exemple trimestrielle, en ajoutant une clause `partition by`.

In [36]:
%%sql 
SELECT quarter(payment_date) quart,
  monthname(payment_date) month_nm,
  sum(amount) monthly_sales,
    rank() over (
      partition by quarter(payment_date)
      order by sum(amount) desc
    ) qtr_sales_rank
FROM payment
WHERE year(payment_date) = 2005
GROUP BY quarter(payment_date), monthname(payment_date)
ORDER BY quart, month_nm;

Running query in 'mysql+mysqldb://root:***@some-mysql:3306/sakila'

4 rows affected.

+-------+----------+---------------+----------------+
| quart | month_nm | monthly_sales | qtr_sales_rank |
+-------+----------+---------------+----------------+
|   2   |   June   |    9629.89    |       1        |
|   2   |   May    |    4823.44    |       2        |
|   3   |  August  |    24070.14   |       2        |
|   3   |   July   |    28368.91   |       1        |
+-------+----------+---------------+----------------+

**Gestion des égalités**

Il y a différentes manières de traiter les égalités, comme le montre la requête suivante (la fonction `dense_rank` évite les trous dans le classement) :

In [37]:
%%sql 
SELECT customer_id, count(*) num_rentals,
  row_number() over (order by count(*) desc) row_number_rnk,
  rank() over (order by count(*) desc) rank_rnk,
  dense_rank() over (order by count(*) desc) dense_rank_rnk
FROM rental
GROUP BY customer_id
ORDER BY num_rentals DESC;

Running query in 'mysql+mysqldb://root:***@some-mysql:3306/sakila'

599 rows affected.

+-------------+-------------+----------------+----------+----------------+
| customer_id | num_rentals | row_number_rnk | rank_rnk | dense_rank_rnk |
+-------------+-------------+----------------+----------+----------------+
|     148     |      46     |       1        |    1     |       1        |
|     526     |      45     |       2        |    2     |       2        |
|     144     |      42     |       3        |    3     |       3        |
|     236     |      42     |       4        |    3     |       3        |
|      75     |      41     |       5        |    5     |       4        |
|     197     |      40     |       6        |    6     |       5        |
|     469     |      40     |       7        |    6     |       5        |
|     137     |      39     |       8        |    8     |       6        |
|     178     |      39     |       9        |    8     |       6        |
|     468     |      39     |       10       |    8     |       6        |
|      5      |      38     |       11       |    11    |       7        |
|     295     |      38     |       12       |    11    |       7        |
|     410     |      38     |       13       |    11    |       7        |
|     459     |      38     |       14       |    11    |       7        |
|     176     |      37     |       15       |    15    |       8        |
|     198     |      37     |       16       |    15    |       8        |
|     257     |      37     |       17       |    15    |       8        |
|     366     |      37     |       18       |    15    |       8        |
|      29     |      36     |       19       |    19    |       9        |
|     267     |      36     |       20       |    19    |       9        |
|     348     |      36     |       21       |    19    |       9        |
|     354     |      36     |       22       |    19    |       9        |
|     380     |      36     |       23       |    19    |       9        |
|     439     |      36     |       24       |    19    |       9        |
|      21     |      35     |       25       |    25    |       10       |
|      50     |      35     |       26       |    25    |       10       |
|      91     |      35     |       27       |    25    |       10       |
|     196     |      35     |       28       |    25    |       10       |
|     204     |      35     |       29       |    25    |       10       |
|     273     |      35     |       30       |    25    |       10       |
|     274     |      35     |       31       |    25    |       10       |
|     368     |      35     |       32       |    25    |       10       |
|     371     |      35     |       33       |    25    |       10       |
|     373     |      35     |       34       |    25    |       10       |
|     381     |      35     |       35       |    25    |       10       |
|     403     |      35     |       36       |    25    |       10       |
|     506     |      35     |       37       |    25    |       10       |
|      26     |      34     |       38       |    38    |       11       |
|      30     |      34     |       39       |    38    |       11       |
|      38     |      34     |       40       |    38    |       11       |
|      46     |      34     |       41       |    38    |       11       |
|      66     |      34     |       42       |    38    |       11       |
|     119     |      34     |       43       |    38    |       11       |
|     129     |      34     |       44       |    38    |       11       |
|     138     |      34     |       45       |    38    |       11       |
|     147     |      34     |       46       |    38    |       11       |
|     168     |      34     |       47       |    38    |       11       |
|     181     |      34     |       48       |    38    |       11       |
|     207     |      34     |       49       |    38    |       11       |
|     211     |      34     |       50       |    38    |       11       |
|     239     |      34     |       51       |    38    |       11       |
|     241     |      34     |       52       |    38    |       11       |
|     360     |      34     |       53       |    38    |       11       |
|     372     |      34     |       54       |    38    |       11       |
|     473     |      34     |       55       |    38    |       11       |
|     502     |      34     |       56       |    38    |       11       |
|     566     |      34     |       57       |    38    |       11       |
|     576     |      34     |       58       |    38    |       11       |
|      7      |      33     |       59       |    59    |       12       |
|      51     |      33     |       60       |    59    |       12       |
|      64     |      33     |       61       |    59    |       12       |
|      84     |      33     |       62       |    59    |       12       |
|      86     |      33     |       63       |    59    |       12       |
|     102     |      33     |       64       |    59    |       12       |
|     114     |      33     |       65       |    59    |       12       |
|     172     |      33     |       66       |    59    |       12       |
|     230     |      33     |       67       |    59    |       12       |
|     237     |      33     |       68       |    59    |       12       |
|     297     |      33     |       69       |    59    |       12       |
|     314     |      33     |       70       |    59    |       12       |
|     390     |      33     |       71       |    59    |       12       |
|     438     |      33     |       72       |    59    |       12       |
|     451     |      33     |       73       |    59    |       12       |
|     454     |      33     |       74       |    59    |       12       |
|     462     |      33     |       75       |    59    |       12       |
|     522     |      33     |       76       |    59    |       12       |
|     533     |      33     |       77       |    59    |       12       |
|      1      |      32     |       78       |    78    |       13       |
|      15     |      32     |       79       |    78    |       13       |
|      28     |      32     |       80       |    78    |       13       |
|      35     |      32     |       81       |    78    |       13       |
|      89     |      32     |       82       |    78    |       13       |
|     120     |      32     |       83       |    78    |       13       |
|     122     |      32     |       84       |    78    |       13       |
|     125     |      32     |       85       |    78    |       13       |
|     128     |      32     |       86       |    78    |       13       |
|     141     |      32     |       87       |    78    |       13       |
|     158     |      32     |       88       |    78    |       13       |
|     167     |      32     |       89       |    78    |       13       |
|     209     |      32     |       90       |    78    |       13       |
|     242     |      32     |       91       |    78    |       13       |
|     244     |      32     |       92       |    78    |       13       |
|     245     |      32     |       93       |    78    |       13       |
|     254     |      32     |       94       |    78    |       13       |
|     259     |      32     |       95       |    78    |       13       |
|     277     |      32     |       96       |    78    |       13       |
|     306     |      32     |       97       |    78    |       13       |
|     329     |      32     |       98       |    78    |       13       |
|     342     |      32     |       99       |    78    |       13       |
|     346     |      32     |      100       |    78    |       13       |
|     362     |      32     |      101       |    78    |       13       |
|     405     |      32     |      102       |    78    |       13       |
|     406     |      32     |      103       |    78    |       13       |
|     442     |      32     |      104       |    78    |       13       |
|     452     |      32     |      105       |    78    |       13       |
|     470     |      32     |      106       |    78    |       13       |
|     503     |      32     |      107       |    78    |       13       |
|     520     |      32     |      108       |    78    |       13       |
|     532     |      32     |      109       |    78    |       13       |
|     535     |      32     |      110       |    78    |       13       |
|     550     |      32     |      111       |    78    |       13       |
|     569     |      32     |      112       |    78    |       13       |
|      27     |      31     |      113       |   113    |       14       |
|      78     |      31     |      114       |   113    |       14       |
|     103     |      31     |      115       |   113    |       14       |
|     157     |      31     |      116       |   113    |       14       |
|     186     |      31     |      117       |   113    |       14       |
|     210     |      31     |      118       |   113    |       14       |
|     214     |      31     |      119       |   113    |       14       |
|     251     |      31     |      120       |   113    |       14       |
|     260     |      31     |      121       |   113    |       14       |
|     279     |      31     |      122       |   113    |       14       |
|     293     |      31     |      123       |   113    |       14       |
|     300     |      31     |      124       |   113    |       14       |
|     309     |      31     |      125       |   113    |       14       |
|     323     |      31     |      126       |   113    |       14       |
|     340     |      31     |      127       |   113    |       14       |
|     361     |      31     |      128       |   113    |       14       |
|     393     |      31     |      129       |   113    |       14       |
|     416     |      31     |      130       |   113    |       14       |
|     446     |      31     |      131       |   113    |       14       |
|     479     |      31     |      132       |   113    |       14       |
|     494     |      31     |      133       |   113    |       14       |
|     513     |      31     |      134       |   113    |       14       |
|      20     |      30     |      135       |   135    |       15       |
|      23     |      30     |      136       |   135    |       15       |
|      42     |      30     |      137       |   135    |       15       |
|      53     |      30     |      138       |   135    |       15       |
|      56     |      30     |      139       |   135    |       15       |
|      71     |      30     |      140       |   135    |       15       |
|      72     |      30     |      141       |   135    |       15       |
|      80     |      30     |      142       |   135    |       15       |
|      87     |      30     |      143       |   135    |       15       |
|     107     |      30     |      144       |   135    |       15       |
|     108     |      30     |      145       |   135    |       15       |
|     112     |      30     |      146       |   135    |       15       |
|     115     |      30     |      147       |   135    |       15       |
|     131     |      30     |      148       |   135    |       15       |
|     135     |      30     |      149       |   135    |       15       |
|     154     |      30     |      150       |   135    |       15       |
|     161     |      30     |      151       |   135    |       15       |
|     256     |      30     |      152       |   135    |       15       |
|     269     |      30     |      153       |   135    |       15       |
|     275     |      30     |      154       |   135    |       15       |
|     289     |      30     |      155       |   135    |       15       |
|     296     |      30     |      156       |   135    |       15       |
|     299     |      30     |      157       |   135    |       15       |
|     307     |      30     |      158       |   135    |       15       |
|     319     |      30     |      159       |   135    |       15       |
|     334     |      30     |      160       |   135    |       15       |
|     336     |      30     |      161       |   135    |       15       |
|     339     |      30     |      162       |   135    |       15       |
|     347     |      30     |      163       |   135    |       15       |
|     356     |      30     |      164       |   135    |       15       |
|     388     |      30     |      165       |   135    |       15       |
|     391     |      30     |      166       |   135    |       15       |
|     404     |      30     |      167       |   135    |       15       |
|     408     |      30     |      168       |   135    |       15       |
|     418     |      30     |      169       |   135    |       15       |
|     424     |      30     |      170       |   135    |       15       |
|     436     |      30     |      171       |   135    |       15       |
|     444     |      30     |      172       |   135    |       15       |
|     472     |      30     |      173       |   135    |       15       |
|     484     |      30     |      174       |   135    |       15       |
|     499     |      30     |      175       |   135    |       15       |
|     560     |      30     |      176       |   135    |       15       |
|     584     |      30     |      177       |   135    |       15       |
|     595     |      30     |      178       |   135    |       15       |
|      25     |      29     |      179       |   179    |       16       |
|      32     |      29     |      180       |   179    |       16       |
|      39     |      29     |      181       |   179    |       16       |
|      52     |      29     |      182       |   179    |       16       |
|      54     |      29     |      183       |   179    |       16       |
|     113     |      29     |      184       |   179    |       16       |
|     146     |      29     |      185       |   179    |       16       |
|     163     |      29     |      186       |   179    |       16       |
|     173     |      29     |      187       |   179    |       16       |
|     179     |      29     |      188       |   179    |       16       |
|     253     |      29     |      189       |   179    |       16       |
|     263     |      29     |      190       |   179    |       16       |
|     265     |      29     |      191       |   179    |       16       |
|     268     |      29     |      192       |   179    |       16       |
|     287     |      29     |      193       |   179    |       16       |
|     302     |      29     |      194       |   179    |       16       |
|     316     |      29     |      195       |   179    |       16       |
|     337     |      29     |      196       |   179    |       16       |
|     349     |      29     |      197       |   179    |       16       |
|     363     |      29     |      198       |   179    |       16       |
|     386     |      29     |      199       |   179    |       16       |
|     397     |      29     |      200       |   179    |       16       |
|     447     |      29     |      201       |   179    |       16       |
|     448     |      29     |      202       |   179    |       16       |
|     467     |      29     |      203       |   179    |       16       |
|     481     |      29     |      204       |   179    |       16       |
|     482     |      29     |      205       |   179    |       16       |
|     485     |      29     |      206       |   179    |       16       |
|     529     |      29     |      207       |   179    |       16       |
|     538     |      29     |      208       |   179    |       16       |
|     563     |      29     |      209       |   179    |       16       |
|     565     |      29     |      210       |   179    |       16       |
|     573     |      29     |      211       |   179    |       16       |
|     575     |      29     |      212       |   179    |       16       |
|     588     |      29     |      213       |   179    |       16       |
|     592     |      29     |      214       |   179    |       16       |
|      6      |      28     |      215       |   215    |       17       |
|      12     |      28     |      216       |   215    |       17       |
|      14     |      28     |      217       |   215    |       17       |
|      16     |      28     |      218       |   215    |       17       |
|      49     |      28     |      219       |   215    |       17       |
|      57     |      28     |      220       |   215    |       17       |
|      77     |      28     |      221       |   215    |       17       |
|      90     |      28     |      222       |   215    |       17       |
|      92     |      28     |      223       |   215    |       17       |
|     126     |      28     |      224       |   215    |       17       |
|     132     |      28     |      225       |   215    |       17       |
|     145     |      28     |      226       |   215    |       17       |
|     166     |      28     |      227       |   215    |       17       |
|     187     |      28     |      228       |   215    |       17       |
|     213     |      28     |      229       |   215    |       17       |
|     221     |      28     |      230       |   215    |       17       |
|     262     |      28     |      231       |   215    |       17       |
|     266     |      28     |      232       |   215    |       17       |
|     276     |      28     |      233       |   215    |       17       |
|     283     |      28     |      234       |   215    |       17       |
|     284     |      28     |      235       |   215    |       17       |
|     290     |      28     |      236       |   215    |       17       |
|     317     |      28     |      237       |   215    |       17       |
|     322     |      28     |      238       |   215    |       17       |
|     332     |      28     |      239       |   215    |       17       |
|     338     |      28     |      240       |   215    |       17       |
|     374     |      28     |      241       |   215    |       17       |
|     376     |      28     |      242       |   215    |       17       |
|     400     |      28     |      243       |   215    |       17       |
|     441     |      28     |      244       |   215    |       17       |
|     457     |      28     |      245       |   215    |       17       |
|     461     |      28     |      246       |   215    |       17       |
|     497     |      28     |      247       |   215    |       17       |
|     500     |      28     |      248       |   215    |       17       |
|     504     |      28     |      249       |   215    |       17       |
|     515     |      28     |      250       |   215    |       17       |
|     558     |      28     |      251       |   215    |       17       |
|     559     |      28     |      252       |   215    |       17       |
|     574     |      28     |      253       |   215    |       17       |
|     589     |      28     |      254       |   215    |       17       |
|     596     |      28     |      255       |   215    |       17       |
|      2      |      27     |      256       |   256    |       18       |
|      13     |      27     |      257       |   256    |       18       |
|      36     |      27     |      258       |   256    |       18       |
|      40     |      27     |      259       |   256    |       18       |
|      45     |      27     |      260       |   256    |       18       |
|      58     |      27     |      261       |   256    |       18       |
|      59     |      27     |      262       |   256    |       18       |
|      74     |      27     |      263       |   256    |       18       |

##### 1.2.2 Comparaison d'une valeur avec les valeurs suivantes ou précédentes

Ce type de comparaison s'effectue avec les fonctions `lag` (qui définie une fenêtre sur les valeurs précédentes) et `lead` (qui définie une fenêtre sur les valeurs suivantes). Le premier paramètre donne la valeur à comparer et le deuxième (par défaut 1) la taille de la fenêtre.

Par exemple

In [38]:
%%sql
 
SELECT yearweek(payment_date) payment_week,
  sum(amount) week_total,
  lag(sum(amount), 1)
     over (order by yearweek(payment_date)) prev_wk_tot,
  lead(sum(amount), 1)
     over (order by yearweek(payment_date)) next_wk_tot
FROM payment
GROUP BY yearweek(payment_date)
ORDER BY payment_week;

Running query in 'mysql+mysqldb://root:***@some-mysql:3306/sakila'

11 rows affected.

+--------------+------------+-------------+-------------+
| payment_week | week_total | prev_wk_tot | next_wk_tot |
+--------------+------------+-------------+-------------+
|    200521    |  2846.19   |     None    |   1977.25   |
|    200522    |  1977.25   |   2846.19   |   5603.43   |
|    200524    |  5603.43   |   1977.25   |   4026.46   |
|    200525    |  4026.46   |   5603.43   |   8490.83   |
|    200527    |  8490.83   |   4026.46   |   5982.64   |
|    200528    |  5982.64   |   8490.83   |   11027.23  |
|    200530    |  11027.23  |   5982.64   |   8412.07   |
|    200531    |  8412.07   |   11027.23  |   10619.11  |
|    200533    |  10619.11  |   8412.07   |   7907.17   |
|    200534    |  7907.17   |   10619.11  |    514.18   |
|    200607    |   514.18   |   7907.17   |     None    |
+--------------+------------+-------------+-------------+

Closing mysql+mysqldb://root:***@some-mysql:3306/sakila

#### 1.3 Pour en savoir plus

Voir [https://dev.mysql.com/doc/refman/8.0/en/window-functions.html](https://dev.mysql.com/doc/refman/8.0/en/window-functions.html).

### Ex 1

Créer la table `sales_fact` avec

|   year_no  | month_no |  tot_sales  |
|------|----|-------|
| 2019 | 1  | 19228 |
| 2019 | 2  | 18554 |
| 2019 | 3  | 17325 |
| 2019 | 4  | 13221 |
| 2019 | 5  | 9964  |
| 2019 | 6  | 12658 |
| 2019 | 7  | 14233 |
| 2019 | 8  | 17342 |
| 2019 | 9  | 16853 |
| 2019 | 10 | 17121 |
| 2019 | 11 | 19095 |
| 2019 | 12 | 21436 |
| 2020 | 1  | 20347 |
| 2020 | 2  | 17434 |
| 2020 | 3  | 16225 |
| 2020 | 4  | 13853 |
| 2020 | 5  | 14589 |
| 2020 | 6  | 13248 |
| 2020 | 7  | 8728  |
| 2020 | 8  | 9378  |
| 2020 | 9  | 11467 |
| 2020 | 10 | 13842 |
| 2020 | 11 | 15742 |
| 2020 | 12 | 18636 |

In [ ]:
%%sql # creation table
CREATE TABLE sales_fact (
    ...
    PRIMARY KEY(...)
);

In [ ]:
%%sql
INSERT INTO ... VALUES ...;

Vérifier que le total des ventes est 370 519.

### Ex 2

Ecrire une requête qui ajoute une colonne qui classe les ventes sur toute la période ( 1 pour le meilleur classement et 24 pour le moins bon).

Modifier la requête pour que la dernière colonne calcule des classements par année.

### Ex 3

Ecrire une requête qui sélectionne les résultats de 2020 et ajoute une colonne qui pour chaque mois contient les résultats du mois précédent.

### Ex 5

JupySQL permet une intégration avec la célèbre bibliothèque Pandas. Pandas est une bibliothèque Python puissante et flexible utilisée pour la manipulation et l'analyse de données, offrant des structures comme les DataFrames pour gérer facilement des ensembles de données tabulaires.
Seaborn est une bibliothèque de visualisation de données basée sur Matplotlib, permettant de créer des graphiques statistiques facilement et avec des thèmes esthétiques intégrés pour l'analyse de données. Nous allons utiliser ces bibliothèque pour afficher des résultats.

Consultez la documentation de JupySQL et Seaborn et affichez une courbe présentant les résultats par jour, en groupant par catégorie de film.

Conseil : 

* utilisez la fonction seaborn `relplot`, vous pouvez utiliser les paramètres `hue`, `row` ou `col` pour regarder les détails par catégorie.

In [95]:
%%sql result << # ex 4
SELECT ...

In [96]:
import pandas as pd 
df = pd.DataFrame(result)

In [97]:
import seaborn as sns
sns.relplot(...)

### Ex 6

On voit des chutes de ventes sur certains jours. Lesquels sont-ils ? Préparer une requête employant la fonction `rank` pour les découvrir.

In [ ]:
%%sql 
SELECT ...;

In [ ]:
import seaborn as sns
sns.relplot(...)